<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/famm/admin/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/famm/admin/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/famm/admin/css/templatemo-style.css">


</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="/admin">
                    <h1 class="tm-site-title mb-0">Welcome Admin</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/home">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Reports<i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/GetorderReport">Download Orders Report</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product">
                                <i class="fas fa-shopping-cart"></i>
                                Products management
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/user">
                                <i class="far fa-user"></i>
                                User management
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/category">
                                <i class="fas fa-list fa-fw   " style="color: #fff;"></i>
                                Category management
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/coupen/load_Coupen">
                                <i class="fas fa-tags" style="color: #fff;"></i>
                                coupen management
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="/admin/logout">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            </div>
            <!-- row -->
            <div style="width: 1113px;margin-left: 16px;">
                <div class="tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">orders Reports</h2>
                        <canvas id="lineChart"></canvas>
                        <div id="orderData" data-orderdata="<%= JSON.stringify(orders) %>"></div>
                    </div>
                </div>


                <div class=" tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll"
                        style="margin-left: 15px;width: 1119px;">
                        <h2 class="tm-block-title">Orders List</h2>
                        <table class="table" style="width: 103%;">
                            <thead>
                                <tr>
                                    <th scope="col-2">ORDER ID</th>
                                    <th scope="col-2">STATUS</th>
                                    <th scope="col-2">Customer Name</th>
                                    <th scope="col-2">Date</th>
                                    <th scope="col-2">payment Method</th>
                                    <th scope="col-2">Total Amount</th>
                                    <th scope="col-2">Total Quantity</th>
                                    <th scope="col-2" style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(order=> { %>
                                    <tr>
                                        <td scope="row"><b>#<%= order.orderId %></b></td>
                                        <td>
                                            <div class="tm-status-circle moving"></div>
                                            <%= order.orderStatus %>
                                        </td>
                                        <td>
                                            <%= order.user.name%>
                                        </td>
                                        <td><b>
                                                <%= order.createdAt.toLocaleString('en-IN', { day: '2-digit' ,
                                                    month: '2-digit' , year: 'numeric' }) %>
                                            </b></td>
                                        <td>
                                            <%= order.payment_Method%>
                                        </td>
                                        <td><b>$<%= order.orderTotal.toFixed(2) %></b></td>
                                        <td><b>
                                                <%= getTotalQuantity(order.items) %>
                                            </b></td>
                                        <% function getTotalQuantity(items) { let totalQuantity=0; items.forEach(item=>
                                            {
                                            totalQuantity += item.quantity;
                                            });
                                            return totalQuantity;
                                            } %>

                                            <td>
                                                <div class="row">
                                                    <button style="border-color: #4e657a;
                                                border-radius: 8px;
                                                width: 56px; background-color:  #4e657a;">
                                                        <a href="/admin/Cancel_order?id=<%= order.orderId %>"
                                                            style="color: white;">Cancel </a>
                                                    </button>
                                                    <button style="border-color: #4e657a;
                                                border-radius: 8px;
                                                width: 56px; background-color:  #4e657a;">
                                                        <a href="/admin/order_details?id=<%= order.orderId %>"
                                                            style="color: white;">Details</a>
                                                    </button>
                                                </div>

                                            </td>
                                    </tr>

                                    <% }) %>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved.

                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template
                        Mo</a>
                </p>
            </div>
        </footer>
    </div>

    <script src="/famm/admin/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/famm/admin/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="/famm/admin/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="/famm/admin/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="/famm/admin/js/tooplate-scripts.js"></script>
    <!-- Include Chart.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



    <script>
   
    var orderDataElement = document.getElementById('orderData');
    var orderData = JSON.parse(orderDataElement.getAttribute('data-orderdata'));


    function formatDate(date) {
        const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
        return new Date(date).toLocaleDateString('en-US', options);
    }
    var orderLabels = orderData.map(order => formatDate(order.createdAt));
    var orderCounts = orderData.map(order => order.orderTotal);


    var numDataPoints = orderCounts.length;
    var amplitude = 500;
    var frequency = 0.1;
    var waveData = [];
    for (var i = 0; i < numDataPoints; i++) {
        var value = amplitude * Math.sin(frequency * i);
        waveData.push(value);
    }


    var ctx = document.getElementById('lineChart').getContext('2d');
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: orderLabels, 
            datasets: [
                {
                    label: 'Company Growth',
                    data: waveData, 
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false,
                },
                {
                    label: 'Order Counts',
                    data: orderCounts,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    fill: false,
                }
            ]
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Date',
                        color: 'white' 
                    },
                    ticks: {
                        color: 'white' 
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Value',
                        color: 'white' 
                    },
                    ticks: {
                        color: 'white' 
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: 'white' 
                    }
                }
            }
        }
    });
</script>







</body>

</html>